@model Ferasat.Plugin.Payments.CustomerClub.Models.PaymentInfoModel;

@{ Layout = null; }

<div>
    <label asp-for="UseCustomerClubWallet"></label>
    <input asp-for="UseCustomerClubWallet">
    <button type="button" id="payWithWallet">Confirm</button>
</div>

<script>
    $("#payWithWallet").click(function (){
    });
</script>