@model Leo.Plugin.Wallets.PartialPaymentAdmin.Models.PartialPaymentModel
@{
    Layout = "_AdminLayout";
    ViewBag.PageTitle = T("Admin.Promotions.PartialPayments.AddNew").Text;
    Html.SetActiveMenuItemSystemName("Partial Payments");
}

<form asp-controller="PartialPayment" asp-action="Create" method="post" id="partial-payment-form">
    <div class="content-header clearfix">
        <h1 class="float-left">
            @T("Admin.Promotions.PartialPayments.AddNew")
            <small>
                <i class="fas fa-arrow-circle-left"></i>
                <a asp-action="List">@T("Admin.Promotions.PartialPayments.BackToList")</a>
            </small>
        </h1>
        <div class="float-right">
            <button type="submit" name="save" class="btn btn-primary">
                <i class="far fa-save"></i>
                @T("Admin.Common.Save")
            </button>
            <button type="submit" name="save-continue" class="btn btn-primary">
                <i class="far fa-save"></i>
                @T("Admin.Common.SaveContinue")
            </button>
            @await Component.InvokeAsync("AdminWidget", new {widgetZone = "admin_partial_payments_details_buttons"})

        </div>
    </div>
    @await Html.PartialAsync("~/Plugins/Wallets.PartialPaymentAdmin/Views/_CreateOrUpdate.cshtml", Model)
</form>